.main{
    width: 98%;
    margin: 0 auto;
}

.main p{
    text-align:justify;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}
.main h2{
    margin: 20px 0 30px;
    height: 60px;
    text-align: center;
    width: 100%;
    background: #444444;
    color: white;
    line-height: 60px;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px black;
}
.subtitle{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    padding-left: 25px;
    padding-right: 10px;
    line-height: 50px;
    box-shadow: 2px 0px 5px black;
    background-color: #c7c0c0;
    width: 420px;
    border-radius: 50px 0px 50px 0px;
    text-align: center;
}
#history p{
    margin-top: 15px;
}
.first-competition{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}
.maradona{
    margin-top: 10px;
    float: right;
    margin-left: 10px;
}

/* Video */
.video-container{
    width: 450px;
    float: left;
    padding: 5px;
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #beb6b6;
}
.video-btns{
    margin-left: 30%;
}
.video-btns button{
    padding: 10px;
}