body{
    margin: 0px;
    padding:0px;
    color: white;
    box-sizing: border-box;
    margin: 0px;
    background-image: url(../img/ball-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* overflow: hidden; */
    background-position: 0px -165px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 0;
}

header{
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    margin-bottom: 50px;
}
header a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    /* animation: all 300ms; */
}
header a:hover{
    animation: animatelink;
    animation-duration: 3ms;
    animation-timing-function: linear;
}
@keyframes animatelink{
    0%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.2);
    }
}

.lateral{
    width: 80%;
    margin-left: 10%;
    height: 360px;
    margin-top: 100px;
    z-index: 3;
}
.lateral h1{
    font-size: 40px;
    text-transform: uppercase;
}
.lateral p{
    width: 41%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.8;
}


/* Footer */
/* Footer line1/line2 */
.footerline1,
.footerline2{
    font-size: 14px;
    background: black;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.footerline2{
    padding-top: 10px;
    padding-bottom: 20px;
}
.footerline1 a{
    color: white;
    transition: all 300ms;
    text-decoration: none;
    margin-top: 10px;
}
.footerline1 a:hover{
    text-decoration: underline; 
}
