body{
    margin: 0px;
    padding:0px;
    color: white;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black; 
}

header{
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    margin-bottom: 50px;
}
header a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    animation: all 300ms;
}
header a:hover{
    text-decoration: underline;
}

/*  MAIN */
.main{
    display: flex;
    margin-bottom: 30px;
}

.ball-img{
    flex-basis: 60%;
}

/* Media Queries */
@media only screen and (max-width: 890px) {
    .main{
        flex-direction: column-reverse;
        align-items: center; 
        margin-bottom: 120px;
    }
    .ball-img{
        width: 280px;
    } 
    .main .lateral h1{
        font-size: 26px;
    }
}

.ball-img img{
    width: 60%;
    padding-left: 20%;
    transform: translateX(600px);
    animation: animate-ball;
    animation-timing-function: linear;
    animation-duration: 3s;
    transform: translateX(0px);
    /* background:url(img/soccerball.png); */
}
.lateral{
    width: 60%;
    margin-left: 10%;
    height: 250px;
    z-index: 3;
}
.lateral h1{
    font-size: 40px;
    text-transform: uppercase;
    animation: animate-ball;
    animation-timing-function: linear;
    animation-duration: 4s;
}
.lateral p{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.8;
}

/* START */
.start{
    width: 80px;
    height: 30px;
    margin-left: 55%;
    border-radius: 10px;
    transition: all 360ms;
    box-shadow: 0px 0px 4px rgb(150, 38, 116);
}
.start a{
    font-size: 20px;
    text-align: center;
    margin-left: 8px;
    line-height: 30px;
    text-decoration: none;
}
.start:hover{
    background: rgb(25, 1, 36);
}
.start:hover a{
    color: rgb(150, 38, 116);
}
/* Footer */

footer{
    margin-top: 50px;
}
.footerline1,
.footerline2{
    font-size: 14px;
    text-align: center;
    color: white;
}
.footerline2{
    padding-top: 10px;
    padding-bottom: 20px;
}
.footerline1 a{
    color: white;
    transition: all 300ms;
    text-decoration: none;
    margin-top: 10px;
}
.footerline1 a:hover{
    text-decoration: underline; 
}
