/* MAIN Stadiums*/
.main{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2{
    margin: 20px 0 30px;
    height: 60px;
    text-align: center;
    width: 100%;
    background: #444444;
    color: white;
    line-height: 60px;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px black;
}
.main .rows{
    display: flex;
    justify-content: space-between;
}
.main img{
    width: 98%;
    margin: 5px;
    border-radius: 4px;
}


/* Stadiums descriptions */

.stadiums{
    flex-basis: 50%;
}
.campnou{
    height: 68.1%;
}
.stadiums-descrip{
    width: 97%;
    margin-left: 10px;
}
.stadiums-descrip h3{
    margin-top: 10px;
}
.stadiums-descrip p{
    width: 98%;
    text-align:justify;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}
.stadiums-descrip p:last-child{
    margin-bottom: 20px;
}
